h1 {
  margin:0;
  padding:0px 6px 0px 0px;
  display:inline;
  clear:right;
  font-family: "Gill Sans", sans-serif;
}

h2 {
  margin:0;
  padding:0px 6px 0px 0px;
  clear:right;
  font-family: "Gill Sans", sans-serif;
}

ul {
  display:inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0px 6px;
  font-family: "Gill Sans", sans-serif;
}

li {
  list-style: none;
  display:inline-block;
  font-family: "Gill Sans", sans-serif;
  color: grey;
}

p {
  font-family: "Gill Sans", sans-serif;
}

a:link {
  color: #4d4d4d;
  text-decoration:none;
}

a:visited {
  color: #4d4d4d;
  text-decoration:none;
}

a:hover {
  color: black;
}

.profileImage {
  float: right;
  padding: 50px 20px 0px 10px;
}

.footer {
  background-color: white;
  position: fixed;
  margin-top: 10px;
  bottom: 0px;
  color: #4d4d4d;
  font-family: "Gill Sans", sans-serif;
  font-size: 12px;
}

.contact {
  font-size: 22px;
}

.address {
  line-height: 1;
  font-weight: bold;
  padding-top: 20px;
}

.address_line {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

table {
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  font-family: "Gill Sans", sans-serif;
}

td {
  padding: 15px;
  margin: 25px;
  border-top: solid 1px black;
  font-size: 14px;
}

tr {
  margin: 15px, 15px, 15px, 15px;
}

.authors {
  width: 300px;
}
.journal {
  width:150px;
}

a.post {
  list-style: none;
  font-family: "Gill Sans", sans-serif;
  color: black;
}

a.post:hover {
  color: grey;
}

.image_off, #Lucy:hover .image_on {
  right: 0;
  bottom: 5px;
  height: 50px;
  width: 60px;
  position: fixed;
  display:none;
}
.image_on, #Lucy:hover .image_off {
  right: 0;
  bottom: 5px;
  height: 50px;
  width: 60px;
  position: fixed;
  display:block;
}

body {
  padding: 20px;
  min-height: 400px;
  margin-bottom: 50px;
  clear: both;
}
