h1 {
  margin:0;
  padding:0;
  padding-left:7px;
  display:inline;
}

a {
  display: block;
  padding: 8px;
}

ul {
  width:85%;
  float:right;
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0 0 2px;
  text-align: right;
}

li {
  display: inline;
}
