html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #8a100b;
}

body.blog {
  background-color: white;
}

#app-header {
  margin: 1em;
}

#app-header nav li {
  padding: .25rem;
  display: inline-block;
}

#app-header #socials li:not(:first-child) {
  margin-left: .5rem;
}

#app-header #socials li {
  padding: .25rem;
  display: inline-block;
}

.homepage {
  background-image: url('./images/rainier.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#homepage-container {
  align-self: center;
  max-width: 55%;
  margin: 1rem;
  margin-top: 10%;
  background-color: rgba(251, 251, 251, 0.2);
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-container p:not(:first-child) {
  margin-top: 1rem;
}

#about {
  margin: 1rem;
}

#about-container {
  background-color: rgba(251, 251, 251, 0.2);
  margin: 30px 20px 75px 0px;
  position: fixed center;
  font-size: 16px;
}

#contact-container {
  align-self: center;
  text-align: center;
  width: 75%;
  background-color: rgba(251, 251, 251, 0.2);
  font-size: 16px;
}

#contact-container a:link {
  color: black;
}

#publications-container {
  margin: 1em;
}

#blogposts-container {
  margin: 1em;
}

h1 {
  margin:0;
  padding:0px 6px 0px 0px;
  display:inline;
  clear:right;
}

h2 {
  margin:0;
  padding:0px 6px 0px 0px;
  clear:right;
}

h3 {
	font-size: 16px;
}

ul {
  display:inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
	font-size: 12px;
}

li {
  list-style: none;
  color: black;
}

p {
  margin: 0;
}

a:link {
  color: #b7a57a;
  text-decoration:none;
}

a:hover {
  color: #F76900;
}

.profilepic {
  float: right;
  padding: 50px 20px 0px 10px;
}

.contact {
  font-size: 22px;
}

.address {
  color: black;
  line-height: 1;
  font-weight: bold;
  padding-top: 20px;
}

.address_line {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

table {
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

td {
  padding: 15px;
  margin: 25px;
  border-top: solid 1px black;
  font-size: 14px;
}

tr {
  margin: 15px, 15px, 15px, 15px;
}

.authors {
  width: 300px;
}
.journal {
  width:150px;
}

a.header {
  list-style: none;
  font-size: 18px;
  color: black;
}

a.header:hover {
  color: #F76900;
}

a.post {
  list-style: none;
  font-size: 18px;
  color: black;
}

a.post:hover {
  color: #F76900;
}

body {
  min-height: 400px;
}

.profilepic {
  display: inline-block;
}

#app-footer {
  background-color: #8a100b;
  color: #F76900;
  font-size: 12px;
  margin-top: auto;
  padding: 1rem;
}

#lucy {
  content: url('./images/lucy_peekEDIT.png');
  display: inline-block;
  position: fixed;
  right: 0;
  top: 5%;
  height: auto;
  width: auto;
}

#lucy:hover {
  content: url('./images/lucy_peekEDITlick.png');
}

@media (max-width:911px) {
  #homepage-container {
    max-width: inherit;
    margin: 1rem;
  }

  #contact-container {
    max-width: inherit;
    margin: 1rem;
  }

  #lucy {
    /* original is 118px */
    width: 59px;
  }
}
